.header {
  background-color: $second-main-color;
  border-bottom: 1px solid $header-border-bottom-line;
  & > .container {
    display: flex;
    justify-content: space-between;
  }
  & ul {
    font-size: 14px;
    line-height: 1.14;
  }
  & nav {
    letter-spacing: 0.02em;
  }
}
