.logo-link {
  display: flex;
  font-family: $font-title;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.19;
  padding: 24px 0 25px 0;

  &:hover,
  &:focus {
    color: $color-hover_focus;
  }
}

.logo {
  color: $color-hover_focus;
}
